.chayka-facebook-thumbnail_post{
    & > .generator_not_set_up{
        & > p{

        }
        & > ul{
            & > li{
                list-style: disc;
                margin-left: 1.5em;
            }
        }
        & > img{
            max-width: 600px;
        }

    }

    & > .thumbnail_setup{

    }
}