<div class="facebook-thumbnail_block_control">
    <div class="block_header">
        <div class="block_title">{{title}}</div>
        <label class="checkbox is_active" data-ng-show="!!optional"><input type="checkbox" data-ng-model="model.active"
                                                                           title="Show block"/> enable</label>
    </div>
    <div class="tabs" data-ng-show="tabs.length > 1">
        <div class="tab image" data-ng-show="isTabShown('image')" data-ng-class="{active: 'image' === tab}"
             data-ng-click="tab='image'">Image
        </div>
        <div class="tab text" data-ng-show="isTabShown('text')" data-ng-class="{active: 'text' === tab}"
             data-ng-click="tab='text'">Text
        </div>
        <div class="tab position" data-ng-show="isTabShown('position')" data-ng-class="{active: 'position' === tab}"
             data-ng-click="tab='position'">Position
        </div>
        <div class="tab box" data-ng-show="isTabShown('box')" data-ng-class="{active: 'box' === tab}"
             data-ng-click="tab='box'">Box
        </div>
    </div>
    <div class="form image" data-ng-show="'image' === tab">
        <div class="image_picker" data-media-picker data-mode="url" data-size="full" data-model="model.url"
             data-picker-button-text="Pick Image" data-title="Pick Image">
            {{imageHint}}
        </div>
    </div>
    <div class="form position" data-ng-show="'position' === tab">
        <div class="block_field anchor">
            <label>{{"Anchor" | nls}}</label>
            <select data-ng-model="model.anchor" data-ng-options="anchor as text for (anchor, text) in anchors"
                    data-ng-change="convertBlockStyle()"></select>

            <div data-facebook-anchor-picker data-value="model.anchor" data-on-change="convertBlockStyle()"></div>
        </div>
        <div class="block_field size_field coord_x">
            <label>{{"Coord X" | nls}}</label>
            <input type="number" data-ng-model="model.x" min="0">
            <select data-ng-model="model.unitX" data-ng-options="unit for unit in units"
                    data-ng-change="convertBlockStyle()"></select>
        </div>
        <div class="block_field size_field coord_y">
            <label>{{"Coord Y" | nls}}</label>
            <input type="number" data-ng-model="model.y" min="0">
            <select data-ng-model="model.unitY" data-ng-options="unit for unit in units"
                    data-ng-change="convertBlockStyle()"></select>
        </div>
        <div class="block_field size_field width">
            <label>{{"Width" | nls}}</label>
            <input type="number" data-ng-model="model.width" min="0">
            <select data-ng-model="model.unitWidth" data-ng-options="unit for unit in units"
                    data-ng-change="convertBlockStyle()"></select>
        </div>
    </div>
    <div class="form text" data-ng-show="'text' === tab">
        <div class="block_field color_field block_font_color color_picker">
            <label>{{"Color" | nls}}</label>
            <input type="color" data-ng-model="model.color" data-default-color="#FFFFFF" data-color-picker
                   title="Font color"/>
        </div>
        <div class="block_field font_field font_size">
            <label>{{"Font" | nls}}</label>
            <select data-ng-model="model.fontFamily" title="Font size" data-ng-options="font for font in fonts"
                    data-ng-show="!!fonts.length"></select>
            <input type="number" data-ng-model="model.fontSize" title="Font size" min="0"/>
        </div>
        <div class="block_field text_align">
            <label>{{"Text align" | nls}}</label>
            <span class="button dashicons-before dashicons-editor-alignleft"
                  data-ng-class="{active: 'left'===model.textAlign}" data-ng-click="model.textAlign = 'left'"></span>
            <span class="button dashicons-before dashicons-editor-aligncenter"
                  data-ng-class="{active: 'center'===model.textAlign}"
                  data-ng-click="model.textAlign = 'center'"></span>
            <span class="button dashicons-before dashicons-editor-alignright"
                  data-ng-class="{active: 'right'===model.textAlign}" data-ng-click="model.textAlign = 'right'"></span>
        </div>
    </div>
    <div class="form box" data-ng-show="'box' === tab">
        <div class="block_field color_opacity_field background_color color_picker">
            <label>{{"Color" | nls}}</label>
            <input type="color" data-ng-model="model.backgroundColor" data-default-color="#000000" data-color-picker
                   title="Background color"/>
            <input type="number" data-ng-model="model.backgroundOpacity" title="Background opacity" min="0" max="100"/>
            <span class="unit">%</span>
        </div>
        <div class="block_field color_field border_color color_picker">
            <label>{{"Border color" | nls}}</label>
            <input type="color" data-ng-model="model.borderColor" data-default-color="#ffffff" data-color-picker
                   title="Border color"/>
        </div>
        <span class="button_complexity button dashicons-before"
              data-ng-class="{'dashicons-minus': model.borderWidth < 0, 'dashicons-plus': model.borderWidth >= 0}" data-ng-click="switchComplexity('borderWidth')"></span>
        <div class="block_field border_width" data-ng-show="model.borderWidth >= 0">
            <label>{{"Border width" | nls}}</label>
            <input type="number" data-ng-model="model.borderWidth" title="Border width" min="-1"/>
        </div>
        <div class="block_field border_width_complex" data-ng-show="model.borderWidth < 0">
            <label>{{"Border width top" | nls}}</label>
            <input type="number" data-ng-model="model.borderWidthTop" title="Border width top" min="0"/>
        </div>
        <div class="block_field border_width_complex" data-ng-show="model.borderWidth < 0">
            <label>{{"Border width right" | nls}}</label>
            <input type="number" data-ng-model="model.borderWidthRight" title="Border width right" min="0"/>
        </div>
        <div class="block_field border_width_complex" data-ng-show="model.borderWidth < 0">
            <label>{{"Border width bottom" | nls}}</label>
            <input type="number" data-ng-model="model.borderWidthBottom" title="Border width bottom" min="0"/>
        </div>
        <div class="block_field border_width_complex" data-ng-show="model.borderWidth < 0">
            <label>{{"Border width left" | nls}}</label>
            <input type="number" data-ng-model="model.borderWidthLeft" title="Border width left" min="0"/>
        </div>
        <span class="button_complexity button dashicons-before"
              data-ng-class="{'dashicons-minus': model.padding < 0, 'dashicons-plus': model.padding >= 0}" data-ng-click="switchComplexity('padding')"></span>
        <div class="block_field padding" data-ng-show="model.padding >= 0">
            <label>{{"Padding" | nls}}</label>
            <input type="number" data-ng-model="model.padding" title="padding" min="-1"/>
        </div>
        <div class="block_field padding_complex" data-ng-show="model.padding < 0">
            <label>{{"Padding top" | nls}}</label>
            <input type="number" data-ng-model="model.paddingTop" title="Padding top" min="0"/>
        </div>
        <div class="block_field padding_complex" data-ng-show="model.padding < 0">
            <label>{{"Padding right" | nls}}</label>
            <input type="number" data-ng-model="model.paddingRight" title="Padding right" min="0"/>
        </div>
        <div class="block_field padding_complex" data-ng-show="model.padding < 0">
            <label>{{"Padding bottom" | nls}}</label>
            <input type="number" data-ng-model="model.paddingBottom" title="Padding bottom" min="0"/>
        </div>
        <div class="block_field padding_complex" data-ng-show="model.padding < 0">
            <label>{{"Padding left" | nls}}</label>
            <input type="number" data-ng-model="model.paddingLeft" title="Padding left" min="0"/>
        </div>
    </div>
</div>