<div class="chayka-facebook-thumbnail_generator">
    <div class="thumbnail_preview">
        <div class="tabs">
            <div class="tab background" data-ng-class="{active: isTabActive('background')}" data-ng-click="activateTab('background')">{{"Background" | nls}}</div>
            <div class="tab logo" data-ng-class="{active: isTabActive('logo')}" data-ng-click="activateTab('logo')">{{"Logo" | nls}}</div>
            <div class="tab fade" data-ng-class="{active: isTabActive('fade')}" data-ng-click="activateTab('fade')">{{"Fade" | nls}}</div>
            <div class="tab block" data-ng-repeat="(id, block) in blocks" data-ng-class="{active: isTabActive(id)}" data-ng-show="isTabVisible(id)" data-ng-click="activateTab(id)">{{block.title | nls}}</div>
        </div>
        <div class="thumbnail_canvas">
            <div class="preview_background" data-ng-style="getBlockStyle('background')" data-ng-click="activateTab('background')"></div>
            <div class="preview_fade" data-ng-style="getBlockStyle('fade')" data-ng-click="activateTab('fade')" data-ng-dblclick="activateTab('background')"></div>
            <img class="preview_logo" data-ng-show="!!getModelImageUrl(model.logo, defaultLogo)" data-ng-src="{{getModelImageUrl(model.logo, defaultLogo)}}" data-ng-style="getBlockStyle('logo')" data-ng-click="activateTab('logo')" >
            <div class="preview_block {{id}}" data-ng-repeat="(id, block) in blocks" data-ng-style="getBlockStyle(id)" data-ng-click="activateTab(id)">
                {{getBlockText(id)}}
            </div>
        </div>
    </div>
    <div class="thumbnail_editor">
        <div class="forms">
            <div class="form background" data-ng-show="'background'===tab">
                <div data-facebook-thumbnail-block-control="blockControls.background" data-model="model.background" data-block="preview_background" data-title="Background" data-tabs="image" data-image-hint="Recommended: 1200 x 630px, min: 600 x 315px" data-default-image="defaultBackground"></div>
            </div>
            <div class="form logo" data-ng-show="'logo'===tab">
                <div data-facebook-thumbnail-block-control="blockControls.logo" data-model="model.logo" data-block="preview_logo" data-title="Logo" data-tabs="image position" data-optional="true" data-image-hint="Recommended: 24bit png with opacity support" data-default-image="defaultLogo"></div>
            </div>
            <div class="form fade" data-ng-show="'fade'===tab">
                <div data-facebook-thumbnail-block-control="blockControls.fade" data-model="model.fade" data-block="preview_fade" data-title="Fade" data-tabs="box" data-optional="true"></div>
            </div>
            <div class="form block" data-ng-repeat="(id, block) in blocks" data-ng-show="id===$parent.tab">
                <div data-facebook-thumbnail-block-control="blockControls[id]" data-model="model[id]" data-block="preview_block.{{id}}" data-title="{{block.title}}" data-tabs="text position box" data-optional="true" data-fonts="fonts" data-default-font="defaultFont"></div>
            </div>

        </div>
    </div>
</div>