.chayka-facebook-thumbnail_setup {
  float: left;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_wizard {
  width: 300px;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font {
  width: 300px;
  border: 1px #aaa solid;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 1ex;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font:hover {
  border-color: #666;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font.active {
  border-color: #444;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font > .font_title {
  display: inline-block;
  width: 180px;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font > .font_controls {
  display: inline-block;
  float: right;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font > .font_controls > button {
  line-height: normal;
  margin: -5px -5px -5px 5px;
  padding: 0 5px;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .fonts_list > .font.no_default_font {
  border-color: maroon;
  color: maroon;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.fonts > .btn-upload {
  width: 300px;
  text-align: center;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.images {
  width: 300px;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template {
  width: 300px;
  border: 1px #aaa solid;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 1ex;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template:hover {
  border-color: #666;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template.active {
  border-color: #444;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template > .font_title {
  display: inline-block;
  width: 180px;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template > .font_controls {
  display: inline-block;
  float: right;
}
.chayka-facebook-thumbnail_setup > .thumbnail_setup-options > .forms > .form.templates > .template > .font_controls > button {
  line-height: normal;
  margin: -5px -5px -5px 5px;
  padding: 0 5px;
}
