.chayka-facebook-thumbnail_generator > .thumbnail_preview {
  width: 600px;
  height: 315px;
  background-color: black;
  background-size: cover;
  position: relative;
}
.chayka-facebook-thumbnail_generator > .thumbnail_preview .preview_fade {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.chayka-facebook-thumbnail_generator > .thumbnail_preview .preview_logo {
  z-index: 2;
  position: absolute;
  height: auto;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .tabs > .tab {
  display: inline-block;
  cursor: pointer;
  margin-right: 1em;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .forms > .form.background > .background_picker {
  width: 300px;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .forms > .form.logo > .logo_picker {
  width: 300px;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .forms > .form .form_field {
  width: 300px;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .forms > .form .form_field > label {
  width: 140px;
}
.chayka-facebook-thumbnail_generator > .thumbnail_editor > .forms > .form .form_field > .input {
  width: 150px;
}
.facebook-anchor_picker {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../img/anchors64.png');
  background-size: 300% 300%;
  vertical-align: top;
}
.facebook-anchor_picker.left-top {
  background-position: left top;
}
.facebook-anchor_picker.center-top {
  background-position: center top;
}
.facebook-anchor_picker.right-top {
  background-position: right top;
}
.facebook-anchor_picker.left-center {
  background-position: left center;
}
.facebook-anchor_picker.center-center {
  background-position: center center;
}
.facebook-anchor_picker.right-center {
  background-position: right center;
}
.facebook-anchor_picker.left-bottom {
  background-position: left bottom;
}
.facebook-anchor_picker.center-bottom {
  background-position: center bottom;
}
.facebook-anchor_picker.right-bottom {
  background-position: right bottom;
}
.facebook-thumbnail_block_control > .block_field {
  width: 300px;
}
.facebook-thumbnail_block_control > .block_field > label {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.facebook-thumbnail_block_control > .block_field > input {
  display: inline-block;
  width: auto;
  vertical-align: top;
  height: 30px;
}
.facebook-thumbnail_block_control > .block_field > select {
  display: inline-block;
  width: auto;
  vertical-align: top;
  height: 30px;
}
.facebook-thumbnail_block_control > .block_field.size > input {
  width: 125px;
  text-align: right;
}
.facebook-thumbnail_block_control > .block_field.size > select {
  width: 44px;
}
.facebook-thumbnail_block_control > .block_field.anchor > select {
  width: 125px;
}
.facebook-thumbnail_block_control > .block_field.anchor > .facebook-anchor_picker {
  width: 44px;
}
